@font-face {
  font-family: "YesevaOneRegular";
  src: url("../fonts/YesevaOne-Regular_v2.otf");
}
@font-face {
  font-family: "GentiumBookBasicBold"; /*serif*/
  src: url("../fonts/GenBkBasB.ttf");
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome.otf");
}
@font-face {
  font-family: "LatoRegular"; /*sans serif*/
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "GeorgiaRegular"; /*serif*/
  src: url("../fonts/georgia.ttf");
}
@font-face {
  font-family: "OpenSansBold"; /*sans serif*/
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSansItalic"; /*sans serif*/
  src: url("../fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "OpenSansRegular"; /*sans serif*/
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "LoversQuarrelRegular"; /*sans serif*/
  src: url("../fonts/LoversQuarrel-Regular.otf");
}
@font-face {
  font-family: "MerriweatherRegular"; /*serif*/
  src: url("../fonts/Merriweather-Regular.ttf");
}


